asgiref
bson
dataclasses
Django
django-betterforms
django-ckeditor
django-crispy-forms
django-js-asset
django-mapbox-location-field
dnspython
python-dateutil
pytz
six
sqlparse
pip install Pillow==9.5.0
